// Color Palette
$bg-color: #B0BEC5;


// Cube Colors (Based on the original cube)
$green: #00A86B;
$blue: #1E90FF;
$red: #FF4500;
$orange: #FF8C00;
$white: #F5F5F5;
$yellow: #FFD700;


// Accent Colors
$text-color: #333333;
$light-gray: #757575;
$light-text-color: #D3D3D3;


// Helpful Mixins
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}